# Build files
*.exe
*.o
*.out

# VS Code
.vscode/

# Python
venv/
__pycache__/
*.py[cod]

# Logs
*.log

# Benchmark output
benchmark.csv

# Trade output
trades.csv

# OS files
.DS_Store
Thumbs.db
backend/.env
